
 .list-social-icons a:hover {
	color: #b21e3e;
 }
 .list-icons .list-inline-item i:hover {
	color: #b21e3e;
 }
 .bg-primary {
	background-color: #212529 !important;
 }

 .text-primary {
	color: #b21e3e !important;
 }

 a {
	color: #b21e3e;
 }

 a:hover, a:focus, a:active {
	color: #b21e3e;
 }

 img {
   max-width:80%;
 }
